:root{
    --first-branco: #FFFFFF;
    --button-roxinho: #711fe4;
    --background-corzinha: #000000;

}

body{
    background-color: var(--background-corzinha);
    color: var(--first-branco)
}
.principal{
    background-image: url("image.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}
.container{
    height: 100vh;
    display: grid;
}
.container__botao{
    background-color: var(--button-roxinho);
    border-radius: 5px;
    padding: 1em;
    color: var(--first-branco);
    display: block;
    height: 25px;
    width: 275px;
}
.container_botao2{
    background-color: #000000;
    border-radius: 5px;
    padding: 1em;
    color: #444141;
    display: block;
    height: 25px;
    width: 275px;
}
 
.container_titulo{
    font-size: 30px;

}
